.yt-sec {
  height: 70vh;
  background-image: url("/public/nan.avif");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yt-sec-wrapper {
  display: flex;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--white);
  gap: 400px;
}

.yt-head {
  font-size: 4rem;
  margin-bottom: 20px;
}

.yt-p {
  font-size: 1.2rem;
}

.yt-sec-right {
  width: 150px;
  height: 150px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.border-grow {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* animation: grow 10s infinite alternate ease-in-out; */
}

@keyframes grow {
  0% {
    transform: scale(1);
    /* Start with the original size and moved up */
  }

  100% {
    transform: scale(1.5);
    /* Zoom in to 120% size and move back to its original position */
  }
}

/* new */
.play-button-container {
  position: relative;
  display: inline-block;
}

.icon-container {
  width: 80px;
  /* Adjust according to your icon size */
  height: 80px;
  /* Adjust according to your icon size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  /* Optionally add styles to the icon */
}

.pulse {
  position: absolute;
  position: absolute;
  top: -35px;
  left: -35px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #fff;
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
  }
}

@media only screen and (max-width: 600px) {
  .yt-sec {
    height: 100vh;
    background-size: cover;
  }

  .yt-sec-wrapper {
    flex-direction: column;
    gap: 130px;
  }

  .yt-head {
    font-size: 2rem;
    padding: 20px;
  }

  .yt-p {
    padding: 20px;
  }
}